$primary-color-dark-blue: #34313d;
$primary-color-blueviolet: #3a3054;
$primary-color-light-blue: #4b3f6b;
$primary-color-grey: #9e9aab;
$primary-color-light-grey: #eff1f7;
$primary-color-aqua: #2bd0d0;
$color-white: #fff;
$footer-background-color: #232127;

$main-font-family: "Poppins", Arial, sans-serif;
$main-font-size: 1.5rem;
$main-line-height: 1.73;
$main-font-weight: 500;

$h1-size: 8rem;
$h2-size: 4rem;
$h3-size: 2.2rem;
