.button {
  font-family: "Poppins", sans-serif;
  background-color: $primary-color-aqua;
  border-radius: 28px;
  padding: 0.9rem 2.4rem;
  color: $color-white;
  font-weight: 500;
  line-height: 1.4;
  transition: 0.3s;
  &:hover {
    background-color: #9ae3e3;
  }
  &.form-button {
    border-radius: 10px;
    padding: 18px 40px;
    font-size: 1.7rem;
    line-height: 1.5;
  }
}
